body, html {
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.95em;
}
#chart {
	background-color: #EAD2D2;
	border: 1px solid #ccc;
}
.bars {
	fill: purple;
	shape-rendering: crispEdges;
}
.bar-labels {
	text-anchor: end;
	fill: white;
}
.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.trendline {
	fill: none;
	stroke: black;
	stroke-width: 3px;
	stroke-dasharray: 2;
}
.trendarea {
	opacity: 0.25;
	fill: red;
	stroke: black;
	stroke-width: 1px;
}